html
{
	background-color: rgb(254,253,240);
}

a
{
	text-decoration: none;
	color: inherit;
}

table
{
	/*border-collapse:collapse;*/
	border-spacing: 0px 10px;
}

td
{
	width: 10px;
	height: 22px;
	/*border: 1px solid black;*/
}


#last_cell, #first_cell
{
	background-color: green;
}

#periode_romantique
{
	background-color: red;
	text-align: center;
}

#compositeurs_francais
{
	background-color: rgb(0,35,149);
	/*background-image: url(../Backgrounds/background-compositeur-francais.png);
	background-repeat: repeat;*/
	color: white;
	text-align: center;
	padding: 5px 5px;
	margin: 5px 5px;
	border-top: 3px solid white;
	border-bottom: 3px solid white;
	font-weight: bold;
	font-size: large;
}

#compositeurs_italiens
{
	background-color: rgb(0,146,70);
	text-align: center;
	padding: 5px 5px;
	margin: 5px 5px;
	border-top: 3px solid white;
	border-bottom: 3px solid white;
	font-weight: bold;
	font-size: large;
}

#compositeurs_allemands
{
	background-color: rgb(255,206,0);
	text-align: center;
	padding: 5px 5px;
	margin: 5px 5px;
	border-top: 3px solid white;
	border-bottom: 3px solid white;
	font-weight: bold;
	font-size: large;
}

#compositeurs_autrichiens
{
	background-color: rgb(237,41,57);
	text-align: center;
	padding: 5px 5px;
	margin: 5px 5px;
	border-top: 3px solid white;
	border-bottom: 3px solid white;
	font-weight: bold;
	font-size: large;
}

#compositeurs_russes
{
	background-color: rgb(0,57,166);
	color: white;
	text-align: center;
	padding: 5px 5px;
	margin: 5px 5px;
	border-top: 3px solid white;
	border-bottom: 3px solid white;
	font-weight: bold;
	font-size: large;
}

#compositeurs_polonais
{
	background-color: rgb(220,20,60);
	text-align: center;
	padding: 5px 5px;
	margin: 5px 5px;
	border-top: 3px solid white;
	border-bottom: 3px solid white;
	font-weight: bold;
	font-size: large;
}

#compositeurs_hongrois
{
	background-color: rgb(67,111,77);
	text-align: center;
	padding: 5px 5px;
	margin: 5px 5px;
	border-top: 3px solid white;
	border-bottom: 3px solid white;
	font-weight: bold;
	font-size: large;
}

#compositeurs_anglais
{
	background-color: rgb(4,2,156);
	color: white;
	text-align: center;
	padding: 5px 5px;
	margin: 5px 5px;
	border-top: 3px solid white;
	border-bottom: 3px solid white;
	font-weight: bold;
	font-size: large;
}

#compositeurs_tcheques
{
	background-color: rgb(17,69,126);
	color: white;
	text-align: center;
	padding: 5px 5px;
	margin: 5px 5px;
	border-top: 3px solid white;
	border-bottom: 3px solid white;
	font-weight: bold;
	font-size: large;
}

#compositeurs_finlandais
{
	background-color: rgb(0,53,128);
	color: white;
	text-align: center;
	padding: 5px 5px;
	margin: 5px 5px;
	border-top: 3px solid white;
	border-bottom: 3px solid white;
	font-weight: bold;
	font-size: large;
}

#compositeurs_espagnols
{
	background-color: rgb(198,11,30);
	text-align: center;
	padding: 5px 5px;
	margin: 5px 5px;
	border-top: 3px solid white;
	border-bottom: 3px solid white;
	font-weight: bold;
	font-size: large;
}

#compositeurs_norvegiens
{
	background-color: rgb(239,43,45);
	text-align: center;
	padding: 5px 5px;
	margin: 5px 5px;
	border-top: 3px solid white;
	border-bottom: 3px solid white;
	font-weight: bold;
	font-size: large;
}

.nom_compositeur
{
	width:170px;
	min-width: 170px;
	/*border: 1px solid black;*/
	vertical-align: center;
}

.vivant_inactif
{
	background-color: rgb(111,111,111);
}

.compositeur_francais
{
	background-color: rgb(0,35,149);
	/*background-image: url(../Backgrounds/background-compositeur-francais.png);*/
	background-repeat: repeat;
}

.compositeur_francais:hover
{
	/*background-image: url(../Backgrounds/background-compositeur-francais-hover.png);
	background-repeat: repeat-x;*/
	background: #002395; /* Old browsers */
	background: -moz-linear-gradient(top, #002395 0%, #2989d8 50%, #207cca 51%, #ffffff 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #002395 0%,#2989d8 50%,#207cca 51%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #002395 0%,#2989d8 50%,#207cca 51%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002395', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
	/*background-color: rgba(0,35,149,0.9);
	-webkit-box-shadow: rgba(255,255,255,1) 0px 5px 15px, inset rgba(255,255,255,0.5) 0px -10px 20px;
	-khtml-box-shadow: rgba(0,0,0,0.5) 0px 5px 15px, inset rgba(0,0,0,0.5) 0px -10px 20px;
	-moz-box-shadow: rgba(0,0,0,0.5) 0px 5px 15px, inset rgba(0,0,0,0.5) 0px -10px 20px;
	-o-box-shadow: rgba(0,0,0,0.5) 0px 5px 15px, inset rgba(0,0,0,0.5) 0px -10px 20px;
	box-shadow: rgba(0,0,0,0.5) 0px 5px 15px, inset rgba(0,0,0,0.5) 0px -10px 10px;*/
}

.compositeur_francais:active
{
    -webkit-box-shadow: rgba(255,255,255,0.25)/* 0px 1px 0px, inset rgba(255,255,255,0.03) 0px 20px 0px, inset rgba(0,0,0,0.15) 0px -20px 20px, inset rgba(255,255,255,0.05) 0px 20px 20px*/;
     -khtml-box-shadow: rgba(255,255,255,0.25) 0px 1px 0px, inset rgba(255,255,255,0.03) 0px 20px 0px, inset rgba(0,0,0,0.15) 0px -20px 20px, inset rgba(255,255,255,0.05) 0px 20px 20px;
       -moz-box-shadow: rgba(255,255,255,0.25) 0px 1px 0px, inset rgba(255,255,255,0.03) 0px 20px 0px, inset rgba(0,0,0,0.15) 0px -20px 20px, inset rgba(255,255,255,0.05) 0px 20px 20px;
         -o-box-shadow: rgba(255,255,255,0.25) 0px 1px 0px, inset rgba(255,255,255,0.03) 0px 20px 0px, inset rgba(0,0,0,0.15) 0px -20px 20px, inset rgba(255,255,255,0.05) 0px 20px 20px;
            box-shadow: rgba(255,255,255,0.25) 0px 1px 0px, inset rgba(255,255,255,0.03) 0px 20px 0px, inset rgba(0,0,0,0.15) 0px -20px 20px, inset rgba(255,255,255,0.05) 0px 20px 20px;
    text-shadow:1px 1px 1px #eee;
}

.compositeur_italien
{
	background-color: rgb(0,146,70);
}

.compositeur_italien:hover
{
	background-color: rgba(0,146,70,0.5);
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#009246+0,0bc485+50,02b777+51,5ff495+100 */
	background: #009246; /* Old browsers */
	background: -moz-linear-gradient(top, #009246 0%, #0bc485 50%, #02b777 51%, #5ff495 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #009246 0%,#0bc485 50%,#02b777 51%,#5ff495 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #009246 0%,#0bc485 50%,#02b777 51%,#5ff495 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#009246', endColorstr='#5ff495',GradientType=0 ); /* IE6-9 */
}

.compositeur_italien:active
{
    -webkit-box-shadow: rgba(255,255,255,0.25)/* 0px 1px 0px, inset rgba(255,255,255,0.03) 0px 20px 0px, inset rgba(0,0,0,0.15) 0px -20px 20px, inset rgba(255,255,255,0.05) 0px 20px 20px*/;
     -khtml-box-shadow: rgba(255,255,255,0.25) 0px 1px 0px, inset rgba(255,255,255,0.03) 0px 20px 0px, inset rgba(0,0,0,0.15) 0px -20px 20px, inset rgba(255,255,255,0.05) 0px 20px 20px;
       -moz-box-shadow: rgba(255,255,255,0.25) 0px 1px 0px, inset rgba(255,255,255,0.03) 0px 20px 0px, inset rgba(0,0,0,0.15) 0px -20px 20px, inset rgba(255,255,255,0.05) 0px 20px 20px;
         -o-box-shadow: rgba(255,255,255,0.25) 0px 1px 0px, inset rgba(255,255,255,0.03) 0px 20px 0px, inset rgba(0,0,0,0.15) 0px -20px 20px, inset rgba(255,255,255,0.05) 0px 20px 20px;
            box-shadow: rgba(255,255,255,0.25) 0px 1px 0px, inset rgba(255,255,255,0.03) 0px 20px 0px, inset rgba(0,0,0,0.15) 0px -20px 20px, inset rgba(255,255,255,0.05) 0px 20px 20px;
    text-shadow:1px 1px 1px #eee;
}

.compositeur_allemand
{
	background-color: rgb(255,206,0);
}

.compositeur_allemand:hover
{
	background-color: rgba(255,206,0,0.5);
}

.compositeur_autrichien
{
	background-color: rgb(237,41,57);
}

.compositeur_autrichien:hover
{
	background-color: rgba(237,41,57,0.5);
}

.compositeur_russe
{
	background-color: rgb(0,57,166);
}

.compositeur_russe:hover
{
	background-color: rgba(0,57,166,0.5);
}

.compositeur_polonais
{
	background-color: rgb(220,20,60);
}

.compositeur_polonais:hover
{
	background-color: rgba(220,20,60,0.5);
}

.compositeur_hongrois
{
	background-color: rgb(67,111,77);
}

.compositeur_hongrois:hover
{
	background-color: rgba(67,111,77,0.5);
}

.compositeur_anglais
{
	background-color: rgb(4,2,156);
}

.compositeur_anglais:hover
{
	background-color: rgba(4,2,156,0.5);
}

.compositeur_tcheque
{
	background-color: rgb(17,69,126);
}

.compositeur_tcheque:hover
{
	background-color: rgba(0,53,128,0.5);
}

.compositeur_finlandais
{
	background: rgb(0,53,128);
}

.compositeur_finlandais:hover
{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#003580+0,0b67c9+50,205abb+51,ffffff+100 */
	background: #003580; /* Old browsers */
	background: -moz-linear-gradient(top, #003580 0%, #0b67c9 50%, #205abb 51%, #ffffff 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #003580 0%,#0b67c9 50%,#205abb 51%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #003580 0%,#0b67c9 50%,#205abb 51%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#003580', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

.compositeur_espagnol
{
	background-color: rgb(198,11,30);
}

.compositeur_espagnol:hover
{
	background-color: rgba(198,11,30,0.5);
}

.compositeur_norvegien
{
	background-color: rgb(239,43,45);
}

.compositeur_norvegien:hover
{
	background-color: rgba(239,43,45,0.5);
}

.cell_button
{
	display: block;
	height: 100%;
	width: 100%;
}

.hidden_text
{
	display: none;
	margin: auto;
	padding: auto;
}

.cell_button:hover .hidden_text{
	text-align: center;
	color: white;
	display: block;
	overflow: hidden;
	/*display: flex;
	justify-content: space-between;*/
}

.categorie_oeuvres
{
	font-size: large;
	font-weight: bold;
	height: 30px;
	/*border: 1px solid blue;*/
	margin-top: 100px;
	padding: 10px;
	background-color:#AAA;
	text-align: center;
}

.categorie_oeuvres:hover
{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#aaaaaa+0,cccccc+50,aaaaaa+51,ffffff+100 */
	background: #aaaaaa; /* Old browsers */
	background: -moz-linear-gradient(top, #aaaaaa 0%, #bbbbbb 50%, #aaaaaa 51%, #ffffff 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #aaaaaa 0%,#bbbbbb 50%,#aaaaaa 51%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #aaaaaa 0%,#bbbbbb 50%,#aaaaaa 51%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aaaaaa', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
	cursor: pointer;
}

.nom_oeuvre
{
	font-size: large;
	font-weight: bold;
	height: 20px;
	/*border: 1px solid blue;*/
	margin-top: 100px;
	padding: 10px;
	background-color:#DDD;
}

.nom_oeuvre:hover
{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#dddddd+0,eeeeee+50,dddddd+51,ffffff+100 */
	background: #dddddd; /* Old browsers */
	background: -moz-linear-gradient(top, #dddddd 0%, #eeeeee 50%, #dddddd 51%, #ffffff 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #dddddd 0%,#eeeeee 50%,#dddddd 51%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #dddddd 0%,#eeeeee 50%,#dddddd 51%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dddddd', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
	cursor: pointer;
}

.player_oeuvres_symphoniques object
{
	width: 100%;
	height: 725px;
}

.player_ouvertures object
{
	width: 100%;
	height: 460px;
}
